extends layout

block content
  #map
  .property-container
    each rent in rents
      .property
        img(src=rent.image, alt=rent.address)
        p Price: #{rent.price}
        p Address: #{rent.address}
        a(href=rent.detailsLink) Details
