extends layout

block content
  #map
  .property-container
    each property in properties
      .property
        img(src=property.image, alt=property.address)
        p Price: #{property.price}
        p Address: #{property.address}
        a(href=property.detailsLink) Details
